*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo da 2", cursive;
}

.logo{
    width: 600px;
    margin-top: -150px;
    margin-bottom: 400px;
}

.container{
    height : 100vh;
    background-image: url(images/Image\ \(3\).png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

h2{
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.timebox{
    display: flex;
    gap: 60px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;

}


